@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: '#FFFFFF';
    --foreground: '#2A2A2A';
    --danger: '#EF626C';
    --success: '#5DA271';
    --warning: '#E6AF2E';
  }
  .dark {
    --background: '#2A2A2A';
    --foreground: '#E7ECEF';
    --danger: '#EF626C';
    --success: '#5DA271';
    --warning: '#E6AF2E';
  }
}