@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@variant dark ([data-theme='dark'], &:is(.dark *));

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #2A2A2A;
  --color-danger: #EF626C;
  --color-success: #5DA271;
  --color-warning: #E6AF2E;
  --color-pillGrey: #F5F5F5;
  --color-darkGrey: #666666;

  --spacing: 0.5rem; /* 8px */

  /* Define custom spacing values */
  --spacing-0: calc(var(--spacing) * 0);   /* 0px */
  --spacing-1: calc(var(--spacing) * 0.5); /* 4px */
  --spacing-2: calc(var(--spacing) * 1);   /* 8px */
  --spacing-3: calc(var(--spacing) * 1.5); /* 12px */
  --spacing-4: calc(var(--spacing) * 2);   /* 16px */
  --spacing-5: calc(var(--spacing) * 2.5); /* 20px */
  --spacing-6: calc(var(--spacing) * 3);   /* 24px */
  --spacing-8: calc(var(--spacing) * 4);   /* 32px */
  --spacing-10: calc(var(--spacing) * 5);  /* 40px */
  --spacing-12: calc(var(--spacing) * 6);  /* 48px */
  --spacing-16: calc(var(--spacing) * 8);  /* 64px */
  --spacing-20: calc(var(--spacing) * 10); /* 80px */
  --spacing-24: calc(var(--spacing) * 12); /* 96px */
  --spacing-32: calc(var(--spacing) * 16); /* 128px */
  --spacing-40: calc(var(--spacing) * 20); /* 160px */
  --spacing-44: calc(var(--spacing) * 22); 
  --spacing-48: calc(var(--spacing) * 24); /* 192px */
  --spacing-56: calc(var(--spacing) * 28); /* 224px */
  --spacing-64: calc(var(--spacing) * 32); /* 256px */
}

@layer base {
  :root {
    background: var(--color-background);
    foreground: var(--color-foreground);
    danger: var(--color-danger);
    success: var(--color-success);
    warning: var(--color-warning);
    pillGrey: var(--color-pillGrey);
    darkGrey: var(--color-darkGrey);
  }
  .dark {
    background: var(--color-foreground);
    foreground: var(--color-background);
    danger: var(--color-danger);
    success: var(--color-success);
    warning: var(--color-warning);
    pillGrey: var(--color-pillGrey);
    darkGrey: var(--color-darkGrey);
  }
}

main {
  @media (width < 48rem) {
    @apply overflow-x-hidden;
  }
}