@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@variant dark ([data-theme='dark'], &:is(.dark *));

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #2A2A2A;
  --color-danger: #EF626C;
  --color-success: #5DA271;
  --color-warning: #E6AF2E;
}

@layer base {
  :root {
    background: var(--color-background);
    foreground: var(--color-foreground);
    danger: var(--color-danger);
    success: var(--color-success);
    warning: var(--color-warning);
  }
  .dark {
    background: var(--color-foreground);
    foreground: var(--color-background);
    danger: var(--color-danger);
    success: var(--color-success);
    warning: var(--color-warning);
  }
}