.mockup-code, .mockup-code-section {
  min-width: 18rem;
  @apply py-5; 
  @apply rounded-lg;
}

.mockup-code, .mockup-code-section pre {
  @apply pl-5;
}

.mockup-code, .mockup-code-section pre:before {
  content: "";
  margin-right: 2ch;
}
.mockup-code, .mockup-code-section pre[data-prefix]:before {
  content: attr(data-prefix);
  @apply opacity-50;
  display: flex;
}

.mockup-code-section:before {
  @apply mb-4;
  @apply block;
  @apply h-3;
  @apply w-3;
  @apply rounded-full;
  @apply opacity-30;
  content: "";
  box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
}