@import "tailwindcss";

.payload-richtext {
  h1 {
    @apply text-6xl font-semibold leading-16;
    @apply py-2;
  }
  
  h2 {
    @apply text-5xl font-semibold leading-12;
    @apply py-2;
  }
  
  h3 {
    @apply text-4xl font-semibold;
    @apply py-2;
  }
  
  h4 {
    @apply text-3xl font-semibold;
    @apply py-2;
  }
  
  h5 {
    @apply text-2xl font-semibold;
    @apply py-2;
  }
  
  h6 {
    @apply text-xl font-semibold;
    @apply py-2;
  }
  
  p {
    @apply text-lg leading-6;
  }
  
  ul {
    @apply list-outside list-disc;
  }

  code {
    color: #eb5757;
    padding: 0.2em 0.4em;
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    font-size: 85%;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
    white-space: wrap;
  }
}